# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: craw ci
on:
  push:
    branches: [ master ]  
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    strategy:
      matrix:
        node:
        - 12
        - 14
    steps:
    - name: print npm_token
      run: echo $NPM_TOKEN
    - name: checkout
      uses: actions/checkout@master
    - name: Install
      run: npm install
    - name: Test
      run: npm test
    - name: Build
      run: npm build
